{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>{{template "title" .}} - Snippet Box</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <style>
    * {
      font-family: "Noto Sans KR";
    }
  </style>
</head>

<body>
  <header>
    <h1 style="margin-bottom: 8px;">
      <img src="/static/img/logo.png" alt="logo" style="vertical-align: center;">
      <a href="/">Snippet Box</a>
    </h1>
    <nav>
      <div>
        <a href="/">Home</a>
        {{if .IsAuthenticated}}
        <a href="/snippet/create">Create Snippet</a>
        {{end}}
      </div>
      <div>
        <a href="/user/signup">Signup</a>
        <a href="/user/login">Login</a>
        {{if .IsAuthenticated}}
        <form action="/user/logout" method="post">
          <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
          <button type="submit">Logout</button>
        </form>
        {{end}}
      </div>
    </nav>
  </header>
  <main>
    {{with .Flash}}
    <div class="flash">{{.}}</div>
    {{end}}
    {{template "main" .}}
  </main>
  {{template "footer" .}}
  <script src="/static/js/main.js"></script>
</body>

</html>
{{end}}