{{template "base" .}}

{{define "title"}}Signup{{end}}

{{define "main"}}
<form action="/user/signup" method="post" novalidate>
  <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
  {{with .Form}}
  <div>
    <label for="name">Name</label>
    {{with .Errors.Get "name"}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="text" name="name" id="name" value='{{.Get "name"}}'>
  </div>
  <div>
    <label for="email">Email</label>
    {{with .Errors.Get "email"}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="email" name="email" id="email" value='{{.Get "email"}}'>
  </div>
  <div>
    <label for="password">Password</label>
    {{with .Errors.Get "password"}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="password" name="password" id="password">
  </div>
  <div>
    <button type="submit">
      Signup
    </button>
  </div>
  {{end}}
</form>
{{end}}